<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.musicweb.dao.ListSongMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zf.musicweb.entity.ListSong">
        <id column="id" property="id" />
        <result column="song_id" property="songId" />
        <result column="song_list_id" property="songListId" />
    </resultMap>

</mapper>
